{% extends "layout.html" %}

{% block title %}
    PostgreSQL Tutorial
{% endblock %}

{% block main %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/blogPosts/prospectRoulettePost/gambling-2001129_1920.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>Mini PostgreSQL Tutorial for Flask and Windows</h1>
              <h2 class="subheading">How to setup and use PostgreSQL as localhost on Windows</h2>
              <span class="meta">Posted by
                <a href="/about">Bill Groves</a>
                on April 6, 2018</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>
              Intro
            </p>
            <h2 class="section-heading">Installation:</h2>
            <h5>
              Step 1:
            </h5>
            <p>
              Follow the Link: 
              <a href="https://www.openscg.com/bigsql/postgresql/installers.jsp/">PostgreSQL</a>
            </p>
            <br>
            <br>
            <h5>
              Step 2:
            </h5>
            <p>
              Choose the download link for Windows.
            </p>            
            <img src="/static/img/blogPosts/postgresTutorialPost/PostgreSQLTutStep2.png">
            <br>
            <br>
            <h5>
              Step 3:
            </h5>
            <p>
              Once downloaded, click the download to start the installation.
            </p>
            <img src="/static/img/blogPosts/postgresTutorialPost/PostgreSQLTutStep3.png">
            <br>
            <br>
            <h5>
              Step 4:
            </h5>
            <p>
              Go through the installation wizard and eventually you will have to choose a 
              password with your username as postgres by default.
            </p>
            <img src="/static/img/blogPosts/postgresTutorialPost/PostgreSQLTutStep4.png">
            <br>
            <br>
            <h5>
              Step 5:
            </h5>
            <p>
              Once installed, open pgAdmin4 and you should see something similar to picture below.
            </p>
            <img src="/static/img/blogPosts/postgresTutorialPost/PostgreSQLTutStep5.png">
            <br>
            <br>
            <h5>
              Step 6:
            </h5>
            <p>
                Drop down the Servers Tab to reveal something close to photo below.
            </p>
            <img src="/static/img/blogPosts/postgresTutorialPost/PostgreSQLTutStep6.png">            
            <p>
            </p>
            <p>
            </p>
          </div>
        </div>
      </div>
    </article>

    <hr>

{% endblock %}