{% extends "layout.html" %}

{% block title %}
    About Me
{% endblock %}

{% block main %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/waterfallBG.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <img src="/static/img/aboutBG.png" class="rounded-circle">
          <h1>Personal Background</h1>
          <p>
            Hello, my name is Billy "Bill" Groves. I am a passionate programmer.
             As far as I can remember I have loved technology. Whether it is 
             fixing computers, programming, or playing videogames with friends, 
             I am also excited to try new technologies. 
          </p>
          <p>
            I was raised in a small farming town which has provided me with a 
            strong work ethic, taught me a lot about problem solving and being 
            self-reliant. After high school, I attended Ohio University, where 
            I graduated with a double major in 
            <a href="https://business.ohio.edu/academics/undergrad-majors/management-information-systems/">Management Information Systems (MIS)</a> 
            and 
            <a href="https://business.ohio.edu/academics/undergrad-majors/finance/">Finance</a>
            . Since my time at 
            <a href="https://www.ohio.edu/">Ohio University</a>
            , I have continued 
            to increase my skills as a programmer by utilizing multiple online 
            resources, such as 
            <a href="https://www.edx.org/">EdX.org</a> 
            and 
            <a href="https://www.udemy.com/">Udemy.com</a>
            . I have continued to solidify 
            these skills by creating projects that can all be found on my 
            <a href="https://github.com/billyggroves">GitHub</a> 
            account.          
          </p>
          <h1>Professional Background</h1>
          <p>
            While attending 
            <a href="https://www.ohio.edu/">Ohio University</a> 
            I worked two jobs. I co-managed my 
            family's cattle farm as well as led a crew for a concrete resurfacing 
            company. With both positions, I was able utilize some of my technical 
            prowess to improve both businesses.           
          </p>
          <p>
            I integrated data analytics with our cattle farm, by registering 
            the cattle and exporting the data that we collected into Microsoft 
            Excel spreadsheets. With this data we were able to better determine 
            the proper genetics that were needed to improve the future generations 
            of the cattle.           
          </p>
          <p>
            I was able to increase the concrete company's exposure, by 
            consulting with their current website provider on a new design 
            and overall upgrade to their current website. I was also able to 
            save the company money by implementing the use of a mobile app that 
            would track the employee's hours, while collecting to the employees’ 
            location so that they would be able to know that they employees were 
            on site at both clock-in and clock-out times.
          </p>
          <p>
            I currently work as a sales representative at a skilled-trade 
            staffing firm. I took this role on a somewhat of a challenge to 
            myself. This is because I would characterize myself as an introvert. 
            However, I wanted to prove to myself that I can step out of my 
            comfort zone and succeed in an industry that requires constant 
            communication. Since I started, I have been in the top 5 for weekly 
            sales on three separate weeks within my first year. By achieving 
            this, I was able to show myself that I can overcome my weaknesses 
            and succeed. I was able to do this by utilizing my technical skills. 
            I created my side project, 
            <a href="https://protected-hollows-32305.herokuapp.com/">Prospect Roulette</a>
            . I created this to help 
            me keep track of my prospects and to remind me to contact them later 
            as well. This increased my productivity, by telling me to call certain 
            people instead of trying to decide who I should call next.          
          </p>
        </div>
      </div>
    </div>

    <hr>

    {% endblock %}
