{% extends "layout.html" %}

{% block title %}
    About Me
{% endblock %}

{% block main %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/waterfallBG.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading">Here is a glimpse of who I am!</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <img src="/static/img/aboutBG.png" class="rounded-circle">
          <h1>Personal Background</h1>
          <p>Hello, I am Billy "Bill" Groves. I am a passionate programmer. As far as I can remember I have loved being around technology, whether it is fixing computers or programming. I was raised in a small farming town which has given me a strong work ethic, taught me a lot about problem solving and being self-reliant. After high school, I attended Ohio University, where I graduated with a double major in Management Information Systems and Finance. Since my time at Ohio University, I have continued to increase my skills as a programmer. For example, I have utilized multiple online resources, such as 
            <a href="https://www.edx.org/course/">edx.org</a>, and created
            <a href="https://protected-hollows-32305.herokuapp.com/">protected-hollows-32305.herokuapp.com</a> to increase my productivity at my current job.</p>
          <h1>Education</h1>
          <h4>Ohio University 2013 - 2016</h4>
          <h5>GPA: 3.6</h5>
          <p>Bachelor of Business Administration (B.B.A.) in Management Information Systems (MIS) and Finance</p>
          <h1>Professional Background</h1>
          <p>While attending university I was worked two jobs. I co-managed my family's cattle farm as well as  team lead for a concrete resurfacing company. With both of these positions, I was able utilize some of my technical prowess to improve both of the businesses. I was able to integrate data analytics with the cattle, by registering them and exporting the data that we collect into excel spreadsheets, in order to determine the proper genetics that were needed to improve the future generations of the cattle. I was able to increase the concrete resurfacing company's exposure, by consulting with their current website support company on a new design and overall upgrade to their current website. I was also able to increase the productivity of the employees, by implementing the use of a mobile app that would track the employee's time working and using their gps, would show the locations in which the they clocked in or out.</p>
          <p>I currently work as a sales representative at a skilled-trade staffing firm. I took this role on a somewhat of a challenge to myself. Being that I would considered myself fairly quiet and introverted, I wanted to prove to myself that I am capable of stepping out of my comfort zone and succeeding in an industry using what I would consider, my weakest attribute of being shy. Since I started, I have been in the top 5 for weekly sales on three seperate weeks within my first year. I was able to overcome my weaknesses and succeed. I was able to do this by utilizing my technical skills. I created my side project, 
              <a href="https://protected-hollows-32305.herokuapp.com/">protected-hollows-32305.herokuapp.com</a>. I created this in order to help me keep track of my prospects and to remind me to contact them later on as well. This increased my productivity, by telling me to call certain people instead of trying to decide who I should call next.
          </p>
        </div>
      </div>
    </div>

    <hr>

    {% endblock %}
