{% extends "layout.html" %}

{% block title %}
    Contact Me
{% endblock %}

{% block main %}
  <head>
    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>
  </head>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/contact-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Contact Me</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>If you have any questions fell free to contact me:</p>
          <h5>Email:</h5>
          <p>BillyGGroves@gmail.com</p>
          <h5>GitHub:</h5>
          <p><a href="https://github.com/billyggroves">BillyGGroves</a></p>
          <h5>LinkedIn:</h5>
          <p><a href="https://www.linkedin.com/in/billyggroves/">Bill Groves</a></p>
          <h5>Twitter:</h5>
          <p><a href="https://twitter.com/BillyGGroves">@BillyGGroves</a></p>
          <h5>Facebook:</h5>
          <p><a href="https://www.facebook.com/billy.groves2">Billy Groves</a></p>
        </div>
      </div>
    </div>

    <hr>

{% endblock %}