{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/blogBG.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Billy "Bill" Groves</h1>
              <span class="subheading">I am a passionate programmer. Working on mastering my craft and sharing my newly found knowledge in the blog!</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <h1>Here is my Portfolio of Projects:</h1>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="blog/myblog">
              <h2 class="post-title">
                  My Blog
              </h2>
              <h3 class="post-subtitle">
                  Built by me to help keep track of things I've learned!
              </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="/about">Bill Groves</a>
                on March 31, 2018</p>
            </div>
          <hr>
          <div class="post-preview">
              <a href="blog/prospectroulette">
                <h2 class="post-title">
                    Prospect Roulette
                </h2>
                <h3 class="post-subtitle">
                    My prospect tracking application!
                </h3>
              </a>
              <p class="post-meta">Posted by
                <a href="/about">Bill Groves</a>
                on April 6, 2018</p>
            </div>
            <hr>
            <!-- <div class="post-preview">
            <a href="blog/scorecard">
              <h2 class="post-title">
                  ScoreCard
              </h2>
              <h3 class="post-subtitle">
                  Tracks scores for various card games!
              </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="/about">Bill Groves</a>
                on March 1st, 2018</p>
            </div> -->
          <hr>
        </div>
      </div>
    </div>

    <hr>

{% endblock %}
