{% extends "layout.html" %}

{% block title %}
    Insert Blog
{% endblock %}

{% block main %}
<head>
      <!-- Contact Form JavaScript -->
      <script src="js/jqBootstrapValidation.js"></script>
      <script src="js/contact_me.js"></script>  
</head>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/contact-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Let's Blog!!!</h1>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <!-- <form action="/_insertImg" method=post enctype=multipart/form-data>
            <p><input type="file" name="file">
                <input type="submit" value="Upload">
          </form> -->
          <form action="/_insertBlog" method="post" name="blogPost" id="blogPost" enctype=multipart/form-data novalidate>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <p><input type="file" name="file">
                </div>
              </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Title" id="title" name="title" required data-validation-required-message="Please enter the title.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Subtitle</label>
                <input type="text" class="form-control" placeholder="Subtitle" id="subtitle1" name="subtitle1" required data-validation-required-message="Please enter your subtitle.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Introduction</label>
                <textarea rows="5" class="form-control" placeholder="Introduction" id="introduction" name="introduction" required data-validation-required-message="Please enter an introduction."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Optional SubTitle</label>
                <input type="text" class="form-control" placeholder="Optional SubTitle" id="subtitle2" name="subtitle2">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Body</label>
                <textarea rows="5" class="form-control" placeholder="Body" id="body" name="body"></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Optional SubTitle</label>
                <input type="text" class="form-control" placeholder="Optional SubTitle" id="subtitle3" name="subtitle3">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Conclusion</label>
                <textarea rows="5" class="form-control" placeholder="Conclusion" id="conclusion" name="conclusion"></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <hr>

    {% endblock %}

    