{% extends "layout.html" %}

{% block title %}
    Blog Post
{% endblock %}

{% block main %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{blogPost.img}}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{blogPost.title}}</h1>
              <h2 class="subheading">{{blogPost.subtitle1}}</h2>
              <span class="meta">Posted by
                <a href="/about">Bill Groves</a>
                on {{blogPost.time}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>{{blogPost.intro}}</p>
            <h2 class="section-heading">{{blogPost.subtitle2}}</h2>
            <p>{{blogPost.body}}</p>
            <h2 class="section-heading">{{blogPost.subtitle3}}</h2>
            <p>{{blogPost.conclusion}}</p>
          </div>
        </div>
        <hr>
        <div class="container">
          <!-- Pager -->
          <div class="clearfix">
              <a class="btn btn-primary float-right" href="post">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </article>
      
    <hr>

{% endblock %}
