{% extends "layout.html" %}

{% block title %}
  Prospect Roulette
{% endblock %}

{% block main %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/gambling-2001129_1920.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>Prospect Roulette</h1>
              <h2 class="subheading">My prospect tracking application!</h2>
              <span class="meta">Posted by
                <a href="/about">Bill Groves</a>
                on March 1st, 2018</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>
              <a href="https://protected-hollows-32305.herokuapp.com/">Prospect Roulette</a> 
              is a web application that I made while working as a sales representative in order to track my prospects. 
              We were provided with ERP software that included a very simple prospect tracker. 
              However, the system was very frustrating and provided me with very little help. 
              In fact, the process of adding new prospects and entering notes for the prospects are on two completely 
              different interfaces. 
              So, I would have to enter the prospects using a remote desktop and then use the 
              web application that was connected to the same database to enter notes for those prospects. 
              Then, once you try to find the prospects that you have entered, you have to filter through all the 
              prospects and clients for your whole branch. So, this drove me crazy and wanted to make something that 
              was simple and quick to use. This is where I came up with the idea for 
              <a href="https://protected-hollows-32305.herokuapp.com/">Prospect Roulette</a>.
            </p>
            <h2 class="section-heading">Development Process:</h2>
            <p>
                I chose to build this application using bootstrap, python with the 
                <a href="http://flask.pocoo.org/">Flask</a> framework, 
                <a href="https://jquery.com/">jQuery</a>, and 
                <a href="https://www.sqlalchemy.org/">SQLAlchemy</a>. 
                These selections were largely influenced by the 
                <a href="https://www.edx.org/">edx.org</a> course, 
                <a href="https://www.edx.org/course/cs50s-introduction-computer-science-harvardx-cs50x">CS50</a>. 
                Where I learned how to program in C, python, 
                <a href="http://flask.pocoo.org/">Flask</a> framework, 
                and gave me a more in-depth understanding of general computer science concepts. 
                I chose these, because I was most familiar with these languages and frameworks and felt that 
                I would be able to create this project very efficiently in terms of time and quality. 
                However, time was the most important since I really needed something as quick as possible, 
                to help me save time in order to produce more sales.
                <hr>
                I started off by performing quick requirements for 
                <a href="https://protected-hollows-32305.herokuapp.com/">Prospect Roulette</a>. 
                I knew I wanted to quickly be able to look at a list of my prospects or my clients. 
                So, I created two HTML pages, one for each. I knew that I wanted to be able to quickly insert 
                clients or prospects into the application. So, I created an HTML page for inserting data. 
                While, determining the requirements, I could not think of what I would want the homepage to look like. 
                I finally thought of a good idea, where I would write an algorithm which would pull ten prospects that 
                I hadn't contacted for at least a week, that way I would be able to get reminded of some that I may have 
                forgotten about (This was the inspiration for me to create the name for Prospect Roulette). 
                So, I created an HTML page for the homepage.
                <hr>
                I then created the backend where I had the python(Flask) code create the lists, 
                generate the data onto the HTML pages, and insert the data into the database. 
                Once, I had all the data forming onto the HTML pages, I then created a more interactive UI/UX with 
                <a href="https://jquery.com/">jQuery</a>. 
                I made it where if the user would click one of the prospects or clients, 
                then that div would expand and show a list of all the notes for the system as well as all the 
                contact information. Then, the user was able to notes and contact information straight from the list.  
                I also made it, so the data was passed through jQuery with ajax in order to keep the page from refreshing, 
                so the user could insert data more quickly.
                <hr>
                Finally, I deployed this application onto 
                <a href="https://www.heroku.com/">Heroku</a> with a create 
                <a href="https://www.postgresql.org/">PostgreSQL</a> database. 
                This was the biggest learning curve for me, because it was the first time I had actually deployed any project. 
                Since, all of the programs that I had created before, were all just local projects that I did not need to deploy. 
                I chose to deploy 
                <a href="https://protected-hollows-32305.herokuapp.com/">Prospect Roulette</a>. 
                I chose to host my application on 
                <a href="https://www.heroku.com/">Heroku</a>, 
                because it was free for the most part, however, it was also easy to learn and works very well with the 
                <a href="http://flask.pocoo.org/">Flask</a> framework.
            </p>
            <h2 class="section-heading">Screenshots:</h2>
            <p>Test</p>
          </div>
        </div>
      </div>
    </article>

    <hr>

{% endblock %}
