{% extends "layout.html" %}

{% block title %}
  ScoreCard
{% endblock %}

{% block main %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/BACKGR1.JPG')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>ScoreCard</h1>
              <h2 class="subheading">Tracks scores for various card games!</h2>
              <span class="meta">Posted by
                <a href="/about">Bill Groves</a>
                on March 1st, 2018</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>ScoreCard is what I would consider to be my first real application. 
              As I was just coming out of 
              <a href="https://www.ohio.edu/">Ohio University</a> (OU), 
              where I had just finished building my team's senior project for our capstone 
              <a href="https://business.ohio.edu/academics/undergrad-majors/management-information-systems/">Management Information System</a> 
              (MIS) course. A C# .NET, 
              private social media web application with gamification in the form of badges, 
              that would allow employees to post, share, like, or even vote on their accomplishments. 
              Building this project is where I discovered my passion of software development. 
              So, after I finished I couldn't wait to start my next project. 
              So, I tried to think of a project that would provide value in my life. 
              At the time, my Girlfriend and I were always playing games in the evenings, 
              especially card games and wasted so much paper writing our scores down. 
              So, this gave me the inspiration to create ScoreCard in order to track scores and 
              making a healthy impact on the environment while I'm at it.
            </p>
            <h2 class="section-heading">Development Process:</h2>
            <p>As, I was still new to software development, (and still am), 
              I tried to utilize as many resources from my course work as possible. 
              Since, the I was an MIS major, the actual process of software development 
              is stressed more than the actual code. So, I started off with some requirements gathering.
              <hr>
              However, since I was going to be a main user as well as the developer, 
              it was a lot different than asking someone else. 
              So, I tried to ask the same questions to myself as I would any other user and 
              tried to answer them as unbiased as possible. 
              As, I knew that there would be potential for there to be other users as well. 
              With understanding this, I also interviewed different potential users of different generations, 
              gender, and races in order to get fresh perspectives 
              (I should note, that these were my friends or family and did not go ask random people). 
              I then took all of this collected data and wrote them out as user stories in cards in a 
              <a href="https://trello.com/">Trello</a>
               board. 
              Now, that I had some sort of idea of what I wanted to build it was time to figure out how to build it.
              <hr>  
              Since, the only code I had been exposed to prior to building ScoreCard, 
              was C# .NET through my MIS courses, I first considered just building it as a web application. 
              However, I really needed it to be mobile-based. 
              I then made the decision to build it as an android application. 
              I chose android because I have always had android phones and was a big fan of the android 
              development podcast, 
              <a href="http://fragmentedpodcast.com/">Fragmented</a>. 
              This gave me the motivation to learn new tools and skills in order to build ScoreCard as an 
              android application. I utilized sources, such as video courses on 
              <a href="https://www.udemy.com/">udemy.com</a> and 
              <a href="https://www.lynda.com/">Lynda.com</a> 
              in order to learn the basic concepts of Java as well as android itself. I was able to come up with
              a version of ScoreCard that worked and gave me the confidence that I could build anything.
            </p>
            <h2 class="section-heading">Screenshots of ScoreCard:</h2>
            <p>Test</p>
          </div>
        </div>
      </div>
    </article>

    <hr>

{% endblock %}
