{% extends "layout.html" %}

{% block title %}
  My Blog
{% endblock %}

{% block main %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>My Blog</h1>
              <h2 class="subheading">Built by me to help keep track of things I've learned</h2>
              <span class="meta">Posted by
                <a href="/about">Bill Groves</a>
                on March 1st, 2018</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>
              My blog, billyggroves.com is actually inspired by one of my favorite developers. I am a big fan
              and supporter of podcasts like, Hanselminutes.com, Fragmented, Developer on Fire, etc. All the
              host have discussed blogging as a developer. Before, the idea of blogging just seemed very
              uninteresting to me. First of all, I don’t really post on social media. I’ve always been a relatively
              private person and avoiding talking about myself in most situations. However, the reason that I
              finally decided to create this blog, was when I heard Scott Hanselman discuss that the reason
              he has his blog was less about showing others what he is doing, and more about having a
              personal reference guide on how to perform certain tasks that he might not remember. This
              new perspective opened me up to the idea of creating a blog.
            </p>
            <h2 class="section-heading">Requirements:</h2>
            <p>
              Initially, I considered using a service such as WordPress, Squarespace, or even Go Daddy.
              However, I quickly decided against this. I wanted to build something myself. Although I did not
              want to necessarily reinvent the wheel, I felt it would give me more practice and I would be
              able to learn much more.
              <br>
              Before starting, I didn’t realize just how much I would have to learn in the process. I knew I
              wanted to use Flask, HTML, and jQuery. Not only am I the most familiar with them, but I know
              that they would provide me with security benefits as well as save me time by limiting the
              amount of boilerplate code in my HTML files. This would allow me to create future posts more
              quickly, and I would only have to change text values and add an extra image tag on occasion.
              <br>
              At first, I had built a blog similar to WordPress with an admin login page. The page would then
              redirect me to a blog creation page with many inputs. I then had the database set up to where
              it would hold all of the content, and even the path to the background photo that would be
              dynamically updated using Flask and Flask-SQLAlchemy on a templated post.html file. 
              <br>
              After I had finished this, I soon learned a very important lesson. I realized that this architecture
              did not provide me with enough flexibility and freedom that I would need to produce the
              content that I wanted. So I ended up scrapping basically all of my project and had to start with
              the core foundation again. By doing this, I learned the importance of requirements gathering
              and production planning. If I had thought out everything before, I would have realized that I
              wanted more creative freedom. I had root access to the site and by keeping the blog more
              static without a database, I will save on my hosting costs.
            </p>
            <br>
            <h2 class="section-heading">Structure:</h2>
            <p>
              The architecture of the blog application is fairly traditional for a Flask-based web application. It
              contains three main sections. The static folder contains all the CSS, images, and JavaScript that
              styles the site. The templates folder contains all of the HTML files, whereas the layout.html file
              is the root file that all other .html files are extended from. It also contains another folder called
              blogPosts, which contains all of my blog posts. Lastly, the app.py file contains the Flask and
              python code.
              <br>
              <br>
              <h5>Application Structure:</h5>
              <img src="/static/img/fileStruct.PNG">
              <br>
              <br>
              Inside the static folder are all of the CSS, JS, and images. Since I currently lack in my design
              skills, I decided to use a bootstrap template and modify as needed. Doing this saved me both
              time and potentially money through not having to purchase training for designing webpages.
              Also, since it is a blog website, there really isn’t anything that that I could have designed that
              would have been unique enough to make it worth my time. There is very little JavaScript right
              now since I do not have any inputs in my application so far, though I do plan on adding a
              comment section very soon. Finally, the static folder contains all the images, including the back
              images and any image that is contained within the website.
              <br>
              <br>
              <h5>CSS Structure:</h5>
              <img src="/static/img/cssStruct.PNG">
              <br>
              <br>
              The templates folder contains all of my HTML files which stores the information that I need
              displayed to the user. With Flask, you generally use one HTML file that contains an abstract
              template for all of your other HTML files. This is what I have labeled as layout.html file. It
              contains all the code that is shared with all of my HTML files. Through the use of Flask’s
              templated feature for my layout.html file, I saved a significant amount of time and did not have
              to write near as much boiler plate code and was left with simple clean code that is easy to read
              and create.
              <br>
              <br>
              <h5>This replaces almost 100 lines of code for each html file:</h5>
              <img src="/static/img/tempExtended.PNG">
              <br>
              <br>
              I created the file app.py for the server aspect. This is where all the python is located. Mostly
              this file contains functions that will render the appropriate HTML file for the given route using
              the render template function in Flask. If the URL is not found, the 404.html file is rendered,
              informing the user of the error. There is one function that is a little more sophisticated. That is
              the function called <code>blog()</code> that contains more dynamism in its render capabilities. The basic
              functionality of my blog() function requires a blog title to be passed through via a http GET
              request. If one is not passed and the blog function is called, it will render a 404 page not found
              message instead. So, once blog() is called with the blog title passed through, the function will
              loop through the blogPosts directory (located in the templates directory) until is finds a
              matching title. Once a matching title is found the post’s HTML will be rendered. However, if the
              title is not found, then the user will be redirected to the 404 page not found page.
              <br>
              <br>
              <h5>blog() function that renders the blog post selected:</h5>
              <img src="/static/img/blogFunction.PNG">
              <br>
              <br>
            </p>
            <h2 class="section-heading">Conclusion:</h2>
            <p>
              Although this was a rather simple project, I was able to learn and grow my skills and knowledge
              through its development. I was able to learn the importance of requirement gathering and
              planning before actually developing a project. I strengthened my python and Flask skills by
              utilizing some of the best practices and reading more into the documentation. This was a fun
              and interesting project, and I plan on keeping it up by continuously improving and creating
              many more projects down the line.
            </p>
            <br>
          </div>
        </div>
      </div>
    </article>

    <hr>

{% endblock %}
