{% extends "layout.html" %}

{% block title %}
  Prospect Roulette
{% endblock %}

{% block main %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/blogPosts/prospectRoulettePost/gambling-2001129_1920.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>Prospect Roulette</h1>
              <h2 class="subheading">My prospect tracking application!</h2>
              <span class="meta">Posted by
                <a href="/about">Bill Groves</a>
                on April 6, 2018</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>
              <a href="https://protected-hollows-32305.herokuapp.com/">Prospect Roulette</a> 
              is a web application I made while working as a sales representative to track 
              my prospects. We were provided with an ERP program that included a simple CRM 
              web program for the sales team. This CRM system was very frustrating and provided 
              me with very little help. In fact, the process of adding new prospects and entering 
              notes for the prospects are on two completely different programs. I would have to 
              enter the prospects information using a remote desktop. Then, I would have to 
              log into the web application that was connected to the same database to enter 
              notes for those prospects. Once, you log in you must search through the entire 
              database of prospects for your branch office to find the one you just entered. 
              I wanted to make something that was simple and quick to use. This is where I 
              came up with the idea for 
              <a href="https://protected-hollows-32305.herokuapp.com/">Prospect Roulette</a>.
            </p>
            <h2 class="section-heading">Development Process:</h2>
            <p>
              I started off by gathering requirements for 
              <a href="https://protected-hollows-32305.herokuapp.com/">Prospect Roulette</a>. 
              I knew I wanted to quickly be able to look at a list of my prospects or my 
              clients. So, I created two HTML pages, one for each. I knew that I wanted to 
              be able to quickly insert clients or prospects into the application. 
              I created an HTML page for inserting data. While, determining the requirements, 
              I could not think of what I would want the homepage to look like. I thought of 
              an idea, where I would write an algorithm which would pull ten prospects that 
              I hadn't contacted for at least a week. This would be a great reminder for 
              some of the prospects which I may have forgotten about 
              (This was the inspiration for me to create the name for Prospect Roulette). 
              So, I created an HTML page for the homepage.
            </p>
            <h5>
              Checks if the user has not contacted the random prospect within a week. 
              If they have, the current iteration of the loop is reset:
            </h5>
            <img src="/static/img/blogPosts/prospectRoulettePost/randProspectMethod.PNG">
            <p>
              I chose to build this application using bootstrap, python with the 
              <a href="http://flask.pocoo.org/">Flask</a> framework, 
              <a href="https://jquery.com/">jQuery</a>, and 
              <a href="https://www.sqlalchemy.org/">SQLAlchemy</a>. 
              These selections were largely influenced by the 
              <a href="https://www.edx.org/">edx.org</a> course, 
              <a href="https://www.edx.org/course/cs50s-introduction-computer-science-harvardx-cs50x">CS50</a>. 
              This course is where I learned how to program in C, python, 
              <a href="http://flask.pocoo.org/">Flask</a> 
              framework and gave me a more in-depth understanding of general computer 
              science concepts. I chose these, because I was most familiar with these 
              languages and frameworks and felt that I would be able to create this 
              project very efficiently in terms of time and quality. However, 
              time was the most important since I really needed something as 
              quick as possible, to help me save time and produce more sales.
            </p>
            <p>
              The backend contains the python (Flask) code which create the lists, 
              generate the data onto the HTML pages, and insert the data into the database. 
              With all the data transferring onto the HTML pages, I then created a more 
              interactive UI/UX with 
              <a href="https://jquery.com/">jQuery</a>. 
              This enabled the user to click on a company’s <code>&lt;div&gt;</code> then that 
              <code>&lt;div&gt;</code> would expand and show a list of all the notes for the 
              company as well as all the company’s contact information. Then, the user was 
              able to add notes and contact information straight from the list. I also made 
              the data be transferred through jQuery with ajax to keep the page from refreshing, 
              so the user could insert data more quickly. This made for a much cleaner experience 
              for the user.
            </p>
            <h5>
                User's prospect once html is rendered:
            </h5>
            <img src="/static/img/blogPosts/prospectRoulettePost/prospectBeforeClick.PNG">
            <br>
            <br>
            <h5>
                User's prospect once clicked:
            </h5>
            <img src="/static/img/blogPosts/prospectRoulettePost/prospectAfterClick.PNG">
            <br>
            <br>
            <h5>
                User's prospect once clicked upon Add Contact/Message:
            </h5>
            <img src="/static/img/blogPosts/prospectRoulettePost/prospectAddContact.PNG">
            <p>
              Finally, I deployed this application onto 
              <a href="https://www.heroku.com/">Heroku</a> with a 
              <a href="https://www.postgresql.org/">PostgreSQL</a> database. This was the 
              biggest learning curve for me, because it was the first time I had deployed 
              any project. Since, all the programs that I had created before, were all just 
              local projects that I did not need to deploy. I chose to deploy 
              <a href="https://protected-hollows-32305.herokuapp.com/">Prospect Roulette</a>. 
              I chose to host my application on 
              <a href="https://www.heroku.com/">Heroku</a>, because it was free for the most 
              part, however, it was also easy to learn and integrates well with the 
              <a href="http://flask.pocoo.org/">Flask</a> framework.
            </p>
            <p>
              For a more indepth look at my code please go to 
              <a href="https://github.com/billyggroves/prospectRoulette">https://github.com/billyggroves/prospectRoulette</a>.
            </p>
          </div>
        </div>
      </div>
    </article>

    <hr>

{% endblock %}
