{% extends "layout.html" %}

{% block title %}
  ScoreCard
{% endblock %}

{% block main %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/blogPosts/scoreCardPost/BACKGR1.JPG')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>ScoreCard</h1>
              <h2 class="subheading">Tracks scores for various card games!</h2>
              <span class="meta">Posted by
                <a href="/about">Bill Groves</a>
                on April 8, 2018</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>
              ScoreCard is what I would consider to be my first real application. 
              I was just coming out of 
              <a href="https://www.ohio.edu/">Ohio University</a> 
              where I had just finished building my team's senior project for our capstone 
              <a href="https://business.ohio.edu/academics/undergrad-majors/management-information-systems/">Management Information System</a> 
              (MIS) course. A C# .NET based, private social media web application with 
              gamification in the form of badges that would allow employees to post, share, 
              like, or even vote on their accomplishments. Building this project is where I 
              discovered my passion of software development. After I finished my capstone project, 
              I couldn't wait to start my next project. I tried to think of a project that would 
              provide value in my life. At the time, my Girlfriend and I were always playing games 
              in the evenings, especially card games and wasted so much paper writing our scores 
              down. This gave me the inspiration to create ScoreCard to track scores and making a 
              healthy impact on the environment while I'm at it.            
            </p>
            <h2 class="section-heading">Requirements:</h2>
            <p>
              I tried to utilize as many resources from my course work as possible. As an MIS 
              major, the actual process of software development is stressed more than the 
              actual code. So, I started off with some requirements gathering.
            </p>
            <p>
              To start off I tried to ask myself what I wanted from this application while 
              remaining as unbiased as possible. I knew that there would be potential for 
              there to be other users as well. So, I also asked others what they would want 
              from this type of application. I then took all of this collected data and wrote 
              them out as user stories in cards in a 
              <a href="https://trello.com/">Trello</a> 
              board. Now, that I had some sort of idea of what I wanted to build it was 
              time to figure out how to build it.
            </p>
            <p>
              Since, the only code I had been exposed to prior to building ScoreCard, 
              was C# .NET through my MIS courses, I first considered just building it 
              as a web application. However, I really needed it to be mobile-based. I 
              then made the decision to build it as an android application. I chose android 
              because I have always had android phones and was a big fan of the android 
              development podcast, 
              <a href="http://fragmentedpodcast.com/">Fragmented</a>. 
              This gave me the motivation to learn new tools and skills to build ScoreCard 
              as an android application. I utilized sources, such as video courses on 
              <a href="https://www.udemy.com/">udemy.com</a> and <a href="https://www.lynda.com/">Lynda.com</a> 
              to learn the basic concepts of Java as well as android itself. 
            </p>
            <h2 class="section-heading">Structure:</h2>
            <p>
              I developed this application with XML for the frontend, Java with Android 
              Framework for backend, 
              <a href="https://docs.realm.io/platform/getting-started/android-quick-start">Realm</a> 
              ORM for Java(Android) for the database, and 
              Git and GitHub for version control. I chose to keep the app just standard 
              vanilla Java Android with XML, because that is what I had been using in 
              tutorials and contained the most accessible sources to learn from. However, 
              now I would be very interested in remaking ScoreCard in Kotlin. I chose to 
              use Realm to store the data, because I had used Android’s SQLite in some of 
              the tutorials I had completed, but I wanted to try something new. Since, I 
              was already comfortable with SQL in general, having taken multiple courses 
              devoted to databases and data manipulation with SQL, I just wanted to look 
              for something that was a little different. That’s when I heard 
              <a href="http://www.donnfelker.com/">Donn Felker</a> 
              one of the hosts from 
              <a href="http://fragmentedpodcast.com/">Fragmented</a> 
              talk about Realm. So, I figured I would give it a try. This was my first 
              time ever using an ORM and learning an API without a tutorial and solely 
              from the documentation and some example code. 
            </p>
            <p>
              This was my first self-taught and self-motivated project and it allowed 
              me to prove to myself that I can create/learn anything I want. You can 
              view the code on my GitHub account, go to 
              <a href="https://github.com/billyggroves/ScoreCard">https://github.com/billyggroves/ScoreCard</a>.
            </p>
            <h2 class="section-heading">Screenshots of ScoreCard running on my Samsung Galaxy s7:</h2>
            <br>
            <br>
            <h5>ScoreCard's Icon in the App Drawer:</h5>
            <img src="/static/img/blogPosts/scoreCardPost/scIcon.png">
            <br>
            <br>
            <h5>ScoreCard's Title Screen:</h5>
            <img src="/static/img/blogPosts/scoreCardPost/scTitle.png">
            <br>
            <br>
            <h5>ScoreCard's Add Initial Player:</h5>
            <img src="/static/img/blogPosts/scoreCardPost/scPlayer.png">
            <br>
            <br>
            <h5>ScoreCard's Created Scorecard:</h5>
            <img src="/static/img/blogPosts/scoreCardPost/scInitialScorecard.png">
            <br>
            <br>
            <h5>ScoreCard's Add Another Player:</h5>
            <img src="/static/img/blogPosts/scoreCardPost/scScorecardwAddedPlayer.png">
            <br>
            <br>
            <h5>ScoreCard's Add Score to Players:</h5>
            <img src="/static/img/blogPosts/scoreCardPost/scInitialScoreAdd.png">
            <br>
            <br>
            <img src="/static/img/blogPosts/scoreCardPost/scInitialScoreAdd2.png">
            <br>
            <br>
            <img src="/static/img/blogPosts/scoreCardPost/scInitialScoreAdd3.png">
            <br>
            <br>
            <img src="/static/img/blogPosts/scoreCardPost/scInitialScoreAdd4.png">
            <br>
            <br>
            <img src="/static/img/blogPosts/scoreCardPost/scInitialScoreAddFinal.png">   
            <br>
            <br>         
            <h5>ScoreCard's Back to Scorecard After Added Scores:</h5>
            <img src="/static/img/blogPosts/scoreCardPost/scScorecardAfterAdd.png">
            <br>
            <br>
          </div>
        </div>
      </div>
    </article>

    <hr>

{% endblock %}
